<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="abby.finalproject_abbylcassien1">

    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">

        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".outfitoftheday.Random"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Load.Load"
            android:icon="@android:drawable/ic_menu_call"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MyCloset"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".walkincloset.WalkInCloset"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".outfitoftheday.RandomTabActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Load.AddClothes"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>
